@font-face {
  font-family: RHMono;
  src: url(https://thenpcfish.github.io/fonts/RedHatMono-Regular.ttf);
  font-weight: normal;
}
html, body {
  font-family: RHMono;
}
body{
    background-color: black;
    background-size: cover;
    
    height: 100%;
    padding:0;
    margin:0;
    overscroll: auto;
    
    color: black;
}
#text{
	color: black;
}
#link{
   color: white;
}
#no {
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html{
   font-size: 100%;
   background-color: black;
	height: 100%;
	overscroll: hidden;
	background-size: cover;
}
input{
	border-color: transparent;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 5px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  bottom: 10px;
  display: block;
  transition: 0.2s;
  color: gray;
}

.form__field:focus {
 ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 100%;
    color: white;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, white,lightgray);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
#btn {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-family: RHMono;
  cursor:pointer;
}
#textbox:hover {
  outline:none;
}
#textbox {
  letter-spacing: -1px;
  border-radius: 0px;
}
#textbox:focus {
  letter-spacing: -1px;
}
img {
 height: 80px;
 width: 238px;
}
